.library{
  width: 70vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color:white;
  min-height: 100vh;
  box-shadow: 2px 2px 50px rgba(100,100,100,1);
  display: none;
}

.library h2{
  padding: 1.5rem 1rem;
}

.song-container{
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  cursor: pointer;
  transition: background-color .3s;
}

.song-container:hover{
  background-color: cyan;
}

.song-container img{
  width: 20%;
}

.song-description {
  padding-left: 1rem;
}