.library {
  width: 50vw;
  background-color: white;
  box-shadow: 2px 2px 50px rgba(100,100,100,1);
  transform: translateX(-100%);
  overflow: scroll;
  height: 100vh;
  transition: all 1s ease;
  position: absolute;
  top: 0;
}

.library h2 {
  padding: 1.5rem 1rem;
}

.song-container {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  cursor: pointer;
  transition: background-color .3s;
}


@media (min-width:0) and (max-width:500px) {

  .library {
    height: 90vh;
    top: 10vh;
    transform: translateY(100%);
    opacity: 0;
    transition: all .8s ease;
    box-shadow: 0 2px 25px gray;
    width: 100vw;
  }
}


.active-library {
  opacity: 1;
  transform: translateY(0);
}
.song-container img {
  width: 20%;
}

.song-description {
  padding-left: 1rem;
}

.selected {
  background-color: cyan;
}